*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header h1 {
    margin: 0;
    background-color: darkblue;
    color: whitesmoke;
    padding: 15px 10px;
}

.flex-containter {
    border: 2px solid black;
    margin: 10px;
    height: 200px;
    display: flex;
    flex-flow:row wrap;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}
.shrink-box,
.box,
.grow-box{
    background-color: lightcoral;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
}

.flex-wrap{
flex-wrap: wrap;
height: 300px;
}
.grow-box:nth-child(3){
    background-color: lightblue;
    flex: 2;
}
.grow-box:nth-child(1){
    background-color: lightblue;
    flex: 3;
    flex-grow: 10;
}
.shrink-box{
    width: 300px;
}
.shrink-box:nth-child(1){
    background-color: lightblue;
    flex-shrink: 5;
}
.shrink-box:nth-child(3){
    background-color: lightblue;
    flex-shrink: 2;
}