* {
    font-family: sans-serif;
}

body {
    background-image: url(/assets/img/noaa-ZVhm6rEKEX8-unsplash.jpg);
    margin: 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.daily-card1 {
    display: flex;
    border: 1px solid black;
    width: 99%;
    height: 200px;
    justify-content: center;
    color: whitesmoke;
    margin-top: 5px;
    align-items: center;
    margin-left: 9px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.daily-card {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 24.4%;
    height: 300px;
    color: whitesmoke;
    margin: 1px;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

nav {
    text-align: center;
    color: whitesmoke;
}


.home-btn,
.about-btn,
.hourly-btn {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: lightcoral;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.daily-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hourly-card {
    border: 1px solid black;
    width: 24.6%;
    height: 200px;
    justify-content: center;
    margin: 0px;
    color: whitesmoke;
    margin: 1px;
    margin-top: 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.search {
    width: 80%;
    position: relative;
    display: flex;
    bottom: 370px;
    right: 500px;
}

.searchTerm {
    width: 100%;
    padding: 5px;
    height: 20px;
    color: lightcoral;
}

.searchTerm:focus {
    color: lightcoral;
}

.searchButton {
    width: 40px;
    height: 36px;
    background: lightcoral;
    text-align: center;
    color: lightcoral;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}