* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 700px 1.5fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
    background-color: lightcoral;
}

aside {
    grid-area: aside;
    background-color: lightgreen;
}

main {
    grid-area: main;
    background-color: lightcyan;
}

footer {
    grid-area: footer;
    background-color: lightsalmon;
}

.grid-container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
}

.box {
    background-color: lightblue;
    border: 2px solid black;
}

/* @media(max-width:768px) {
    body{
        grid-template-columns: repeat1fr;
        grid-template-rows: 1fr 1fr max-content 1.5fr;
        grid-template-areas: 
        "header" 
        "aside" 
        "main" 
        "footer";
    }
} */