* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: linear-gradient(coral, lightcoral);

}

main {
    height: 200px;
    transition: background 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
    color: whitesmoke;
    margin: 0;
}
h3{
    color:whitesmoke
}

button,input {
    border-radius: 5px;
}

button {
    background-image: linear-gradient(coral, lightcoral);
}

#textOne{
    position: relative;
    left: 900px;
}
#textSize{
    position: relative;
    left: 900px;
}
#textColor{
    position: relative;
    left: 960px;
}
#btn{
    position: relative;
    left: 963px;
}
header{
    position: relative;
    left: 900px;
}
#ulList{
    position: relative;
    left: 900px;
}
#getBtn{
    position: relative;
    left: 900px;
}
#Ulh2{
    position: relative;
    left: 900px;
}
#items{
    position: relative;
    left: 900px;
}
#textSizeTwo{
    position: relative;
    left: 900px;
}
#textColorTwo{
    position: relative;
    left: 900px;
}
#genBtnTwo{
    position: relative;
    left: 900px;
}
#ulListTwo{
    position: relative;
    left: 900px;
}
#studentregh2{
    position: relative;
    left: 900px;
}
#form{
    position: relative;
    left: 900px;
}

