<div>
    <h1>Students List</h1>
    <ul>
        {{#each students as |student|}}
        <li><a href="/student/{{student.id}}">{{student.name}} - {{student.age}}</a></li>
        {{/each}}
    </ul>
</div>