body{
    font-family: sans-serif;
    background-color: goldenrod;
}
img{
    width: 130px;
    border: solid lightgray 2px;
    box-shadow: #32325d40 0px 30px 60px -12px , rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.product-card{
    align-items: center;
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    width: 700px;
    background-color: lightgoldenrodyellow;
    box-shadow: #00000059 0px -50px 36px -28px inset;
}
#card{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
}
h1{
    display: flex;
    justify-content: center;
}