.low {
    background-color: lightblue;
}

.medium {
    background-color: lightyellow;
}

.high {
    background-color: lightcoral;
}

.todo {
    padding: 15;
    margin: 10;
    border: 2px solid darkgrey;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}